tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(187, 56, 56, 0.476);
}

.info-text{
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
}

.description{
  top: 65%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("img/fdb.jpg") no-repeat center;
  background-size: cover;
  font-family: sans-serif;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
}

.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #b14f2b98;
}

.form .input-group {
  position: relative;
}

.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: .3s ease-out;
}

.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #b14f2b98;
  font-size: .8rem;
}

.submit-btn {
  display: flex;
  margin: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.footer-line{
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.copyright{
  color: white;
  font-size: small;
  text-align: end;
}

.font-heading{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

.col-md-6 {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}